params {
  resultsDir = "results"
  publishDirMode = "link"
}

process {
  //cache = 'deep'
  cpus = 1
}

timeline.enabled = true
timeline.file = "results/timeline.html"

report.enabled = true
report.file = "results/report.html"

resume = true

profiles {
  icbi {
      process {
          executor = 'sge'
          penv = 'smp'
          clusterOptions = { "-V -S /bin/bash -R y -q all.q@apollo-0*" }
      }
  }
}

